ion-header.delivery-customer-locator-page-header {
    ion-toolbar{
        --background: var(--ion-background-color-app-custom);
        ion-buttons {
            ion-back-button {
                color: #fff;
            }
            ion-menu-button {
                color: #fff;
            }
        }
        ion-title {
            color: #fff;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            img {
                background-color: #fff;
                display: inline-block;
                height: 25px;
                vertical-align: middle;
                width: 25px;
            }
            span{
                display: inline-block;
                line-height: 25px;
                margin-left: 5px;
                vertical-align: middle;
            }
        }
    }
}
ion-content.delivery-customer-locator-page-content {
    div.delivery-customer-action-container {
        background-color: #fff;
        height: auto;
        width: calc(100% - 20px);
        position: absolute;
        z-index: 1000;
        left: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
        padding-bottom: 7px;
        margin-top: 10px;
        ion-button.customer-close-btn {
            background: var(--ion-background-color-app-custom);
            border-radius: 20px;
            float: left;
            padding-top: 5px;
            margin-left: 10px;
            ion-label{
                color: #FFFFFF;
                font-size: 13px;
                text-transform: uppercase;
            }
        }
        ion-button.customer-confirmation-btn {
            background: var(--ion-background-color-app-custom);
            border-radius: 20px;
            float: right;
            padding-top: 5px;
            margin-right: 10px;
            ion-label{
                color: #FFFFFF;
                font-size: 13px;
                text-transform: uppercase;
            }
        }
        ion-button.customer-cancelation-btn {
            background: var(--ion-background-color-app-custom);
            border-radius: 20px;
            float: right;
            padding-top: 5px;
            margin-right: 10px;
            ion-label{
                color: #FFFFFF;
                font-size: 13px;
                text-transform: uppercase;
            }
        }
    }
    div.delivery-customer-map-container {
        height: 100%;
        width: 100%;
        div#deliveryLocatorMap {
            height: 100%;
            width: 100%;
        }
        ion-card.customer-map-direction-panel-section {
            max-height: 120px;
            overflow: scroll;
            position: absolute;
            z-index: 999;
            background-color: white;
            top: 124px;
        }
    }
    ion-card.delivery-customer-locator-page-empty-container {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50%;
        font-weight: bold;
        text-align: center;
        text-transform: capitalize;
        width: 80%;
        ion-card-content {
            span.no-order-content {
                font-size: larger;
            }
        }
    }
    .scroll {
        height: 100%
    }
}
